<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/global.css">
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/bootstrap.min.css">
    </head>

    <body style="font-family: Arial; font-size: 14px">
        <div class="d-flex justify-content-center">
            <p>Olá! Você está recebendo um currículo cadastrado na vaga oferecida!</p>
        </div>

        <div class="d-flex justify-content-center">
            <div class="card" style="width: 50%;">
                <div class="card-body">
                    <h3 class="card-title" th:text="${candidate.name}">
                        Teste
                    </h3>

                    <p class="card-subtitle mb-2 text-muted">
                        <span th:text="${candidade.gender} - ${candidate.birthDate}">
                            Masculino - 05/03/1993
                        </span>

                        <br>

                        <span th:text="${candidate.address}, ${candidate.address.number} - ${candidate.address.complement} +
                                        ${candidate.address.district} - ${candidate.address.zipCode} - ${candidate.address.city} +
                                         ${candidate.address.state}">
                            Rua Teste, 123 - AP 000 - Vila Teste - 00000-000 - Teste - TT
                        </span>

                        <br>

                        <span th:text="${candidate.phoneNumber} / ${candidate.mobileNumber}">
                            Telefone: (00) 0000-0000 / (00) 0 0000-0000
                        </span>

                        <br>

                        <span th:text="${candidate.userCandidate.email}">
                            E-mail: murylo_capucho@outlook.com
                        </span>
                    </p>

                    <div class="pt-3">
                        <h4 class="card-title">
                            Formação
                        </h4>

                        <p>Teste teste teste teste</p>
                    </div>

                    <div class="pt-3">
                        <h4 class="card-title">
                            Experiência
                        </h4>

                        <p>Teste teste teste teste</p>
                    </div>

                    <div class="pt-3">
                        <h4 class="card-title">
                            Competência
                        </h4>

                        <p>Teste teste teste teste</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="./../../static/assets/js/bootstrap.min.js"></script>
    </body>
</html>